<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.4" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee  http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:META-INF/intfsh_applicationContext.xml</param-value>
	</context-param>
	<context-param>
		<param-name>anonymousAccessModule</param-name>
		<param-value>login,anonymous</param-value>
	</context-param>
	
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
	</listener>
	<!-- 
	-->	
	<listener>
		<listener-class>com.ailk.easyframe.web.listener.TSStartListener</listener-class>
	</listener> 
	<servlet>
		<servlet-name>log4jLoader</servlet-name>
		<servlet-class>com.ailk.easyframe.web.servlet.Log4jInit</servlet-class>
		<init-param>
			<param-name>log4j</param-name>
			<param-value>classpath:log4j.properties</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>Dispatcher</servlet-name>
		<servlet-class>com.ailk.ims.httpjson.servlet.ImsActionDispatcher</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:META-INF/SpringMVC.xml</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>ForwardServlet</servlet-name>
		<servlet-class>com.ailk.ims.httpjson.servlet.ForwardServlet</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	
	<servlet>  
		<servlet-name>WebServiceServlet</servlet-name>  
		<servlet-class>com.ailk.easyframe.ws.WSServlet</servlet-class>
		<init-param>
			<param-name>trace</param-name>
			<param-value>true</param-value>
			
		</init-param>
		
		
		<init-param>
			<param-name>service-name</param-name>
			<!--<param-value>imsinner_innerService,imscnsh_cN_SHMgntService,imsinner_innerQueryService,shinner_intfshinnerService,innerqry_query4AcctRecvService,shinner_intfshqureyService,imspgmt_pmsMgntService</param-value> -->
			<param-value>imspgmt_pmsMgntService</param-value>
		</init-param>
		
		<init-param>
			<param-name>contextSync</param-name>
			<param-value>false</param-value>
		</init-param>
	</servlet>  
	<servlet-mapping>  
		<servlet-name>WebServiceServlet</servlet-name>  
		<url-pattern>/ws/*</url-pattern>  
	</servlet-mapping> 
	
	
	<servlet-mapping>
		<servlet-name>Dispatcher</servlet-name>
		<url-pattern>/ims-intfsh/imscnsh/CN_SHMgntAction/commonHttpJson.go</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ForwardServlet</servlet-name>
		<url-pattern>/com.cmcc.sh.boss.interfaces.forcrm</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ForwardServlet</servlet-name>
		<url-pattern>/com.cmcc.sh.boss.interfaces.forint</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<filter>
		<filter-name>AilkSessionFilter</filter-name>
		<filter-class>com.ailk.easyframe.web.common.session.AilkSessionFilter</filter-class>
		<init-param>
			<param-name>enableMonitorLog</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>AilkSessionFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>ERROR</dispatcher>
	</filter-mapping>
	
	<!--
	<context-param>
		<param-name>errorCodeClass</param-name>
		<param-value>com.ailk.openbilling.ams.enums.ErrorCode</param-value>
	</context-param>
	-->
	<servlet>
    	<servlet-name>MonitorServlet</servlet-name>
    	<servlet-class>com.ailk.ims.network.MonitorServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MonitorServlet</servlet-name>
		<url-pattern>/network/monitor/servicecheck</url-pattern>
	</servlet-mapping>
	
</web-app>
